{% extends 'layout.html.twig' %}

{% block body %}

    <section id="one" class="wrapper style2 special">
        <h1>Documents list</h1>
    </section>

<section id="two" class="wrapper">
    <div class="inner alt">
        <table>
            <thead>
                <tr>
                    <th>Fichier</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>
                        <a href="{{ asset(document.media.path) }}">
                            <img src="{{ asset('assets/images/local/icons/file.png') }}" class="plus-icon">
                        </a>
                    </td>
                    <td>{{ document.name }}</td>
                    <td>{{ document.comment }}</td>
                    <td>
                        <ul class="ul-buton">
                            <li>
                                <a href="{{ path('documents_edit', { 'id': document.id }) }}">
                                    <img src="{{ asset('assets/images/local/icons/edit.svg') }}" class="plus-icon">
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

    <section class="special">
        <ul class="icons labeled">
            <li>
                <a href="{{ path('documents_new') }}"><img src="{{ asset('assets/images/local/icons/plus-icon.svg') }}" class="plus-icon"></a>
            </li>
        </ul>
    </section>
{% endblock %}
