{% extends 'layout.html.twig' %}

{% block body %}
<h1 class="align-center h1size">Ajouter un document</h1>

<section id="two" class="wrapper">
    <div class="inner alt">

        {{ form_start(form) }}
        <div class="row">
            <div class="special-right">

                <div class="row">
                    <div class="col s12 m6 l6">
                        <span>Nom :</span>
                    </div>
                    <div class="col s12 m6 l6">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <span>Decription</span>
                    </div>
                    <div class="col s12 m6 l6">
                        {{ form_widget(form.comment) }}
                        {{ form_errors(form.comment) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <span>Sélection du média :</span>
                    </div>
                    <div class="col s12 m6 l6">
                        {{ form_widget(form.media) }}
                        {{ form_errors(form.media) }}
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="special-right-buton">
                <div class="col s6 m6 l6">
                    <input type="submit" value="Valider" />
                </div>

                {{ form_end(form) }}

                <div class="col s6 m6 l6">
                    <a href="{{ path('documents_index') }}">Retour aux documents</a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
