{% extends 'layout.html.twig' %}

{% block title %}
    <p>nouveua site</p>
{% endblock %}

{% block body %}

    <section id="one" class="wrapper">
        <div class="inner alt">

            <h3 class="align-center">Ajouter un site</h3>

            {{ form_start(form) }}

            <div>
                <div>Nom :</div>
                <div>{{ form_widget(form.name) }}</div>
            </div>
            <div>
                <div>Adresse :</div>
                <div>{{ form_widget(form.address) }}</div>
            </div>
            <div>
                <div>Désignation :</div>
                <div>{{ form_widget(form.description) }}</div>
            </div>
            <div>
                <div>Image :</div>
                <div>{{ form_widget(form.media) }}</div>
            </div>

        </div>
    </section>

    <section class="two horizontal-center">

        <input type="submit" value="Valider" />
        <a href="{{ path('sites_index') }}">
            <img src="{{ asset('assets/images/local/icons/home-icon.svg') }}" class="plus-icon">
        </a>

    </section>

    {{ form_end(form) }}

{% endblock %}
