{% extends 'layout.html.twig' %}

{% block body %}

<section id="one" class="wrapper">
    <div class="inner alt">

        <h3>Ajout du nouveau site</h3>

        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ site.name }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ site.address }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ site.description }}</td>
                </tr>
                <tr>
                    <th>Media</th>
                    <td><img src="{{ asset(site.media.path) }}" alt="{{ site.media.name }}"></td>
                </tr>
            </tbody>
        </table>

    </div>
</section>

        <section class="two horizontal-center">

            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/images/local/icons/home-icon.svg') }}" class="plus-icon">
            </a>
            <a href="{{ path('sites_edit', { 'id': site.id }) }}">
                <img src="{{ asset('assets/images/local/icons/edit.svg') }}" class="plus-icon">
            </a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

        </section>


{% endblock %}
