{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}

    <!-- One -->

    <section id="two" class="wrapper">
        <div class="inner alt">

            {# AFFICHAGE BOUCLE #}

            {% for videos in video %}
                <div class="spotlight">
                    <div id="myVideoElement" class="video-margin" oncontextmenu="return videoContext(this)">
                        <video controls="controls" class="video" tabindex="-1" controlslist="nodownload">
                            <source src="{{ asset(videos.media.path) }}" type="video/mp4" />
                            <source src="{{ asset(videos.media.path) }}" type="video/webm" />
                            <source src="{{ asset(videos.media.path) }}" type="video/ogg" />
                            <source src="{{ asset(videos.media.path) }}" type="video/avi" />
                        </video>
                    </div>
                    <div class="content">
                        <h3>{{ videos.name }}</h3>
                        <p>{{ videos.comment }}</p>
                    </div>

                    {% if is_granted('ROLE_ADMIN') %}
                       <div class="modify">
                           <a href="{{ path('video_edit', { 'id': videos.id }) }}">
                               <img src="{{ asset('assets/images/local/icons/edit.svg') }}" class="plus-icon">
                           </a>
                       </div>
                    {% endif %}

                </div>

            {% endfor %}

            {# FIN DE BOUCLE#}

            {% if is_granted('ROLE_ADMIN') %}
                <section class="special">
                    <ul class="icons labeled">
                        <li>
                           <a href="{{ path('video_new') }}">
                               <img src="{{ asset('assets/images/local/icons/plus-icon.svg') }}" class="plus-icon">
                           </a>
                        </li>
                    </ul>
                </section>
            {% endif %}

    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}