{% extends 'layout.html.twig' %}

{% block body %}

    <section id="one" class="wrapper style2 special">
        <div class="inner alt">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h3>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</h3>
            {% else %}
                <p>non connecté</p>

                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            {% endif %}

            <div class="">
                <div class="">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}" class="min-font">
                            {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                            <img src="{{ asset('assets/images/local/icons/delete.svg') }}" class="plus-icon">
                        </a>
                    {% else %}

                    {% endif %}
                </div>
                {% block button %}
                <div class="">
                    <a class="" href="{{ path('homepage') }}">
                        Retour à l'accueil
                    </a>
                </div>
                {% endblock %}
            </div>

        </div>
    </section>
{% endblock %}
